
.tagss {
    font-size:16px;
    font-weight:bold;
}
.vertical_line{
    border-left-width: 2px;
    border-left-style: solid;
    border-color: #007bff;
    padding-left: 10px;
    margin-left: 10px;

}

.question{
    background-color: #e7e7f0;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}

.ava {
    margin: 0px;
    padding: 0px;
    position: relative;
    width:100px;
    height:100px;
    border: 2px solid gray;
    border-radius: 50%;
}


.logo {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    width: 70px;
    height: 70px;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.navbar {
    padding: 0px 20px 0px 0px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 0px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.question_item {
    background-color: #fdfefe;
    padding: 15px 15px 15px 15px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #0000ff;
}

.one_question_item {
    background-color: #e7e7f0;
    box-shadow: 0px 0px 5px 2px #e7e7f0;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}

.answer_item {
    background-color: #fefefe;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #0000ff;
    border-radius: 5px;
}


.my_btn {
    margin: 10px;
}

.my_btn1 {
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.my_btn1:hover {
    background: #0000ff;
    box-shadow: 0px 0px 5px 2px #0000ff;
}
.my_btn1:active {
    background: #00007f;
}

.my_btn2 {
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.my_btn2:hover {
    background: #ff0000;
    box-shadow: 0px 0px 5px 2px #ff0000;
}
.my_btn2:active {
    background: #7f0000;
}

.ava img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

.sidebar {
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 5px;
    padding: 15px;

}

.img-thumbnail {
    width: 150px;
    height: 150px;
}