{% extends 'base.html' %}

{% block content %}

    {% include "card.html" %}

    {% for answer in answers %}

        <div class="row answer_item">
            <div class="col-2">
                <div class="row">
                    <img class="ava" src="{{ MEDIA_URL }}{{ answer.author.upload }}" alt="">
                </div>
                <div class="row">
                    <a href="{% url 'profile' answer.author %}">Автор: {{ answer.author }}</a>
                </div>
            </div>
            <div class="col-1">
                <button class="btn-success">+</button>
                <label>100</label>
                <button class="btn-danger">_</button>
            </div>
            <div class="col-7 left_line">
                <div class="row ml-1">
                    <p>{{ answer.text }}</p>
                    <p>{{ answer.create_date }}</p>
                </div>
            </div>
            {% if answer.approved %}
                <div class="col-1">
                    <button class="btn-primary">Одобрен</button>
                </div>
            {% endif %}

        </div>

    {% endfor %}

    {% block paginator %}
        {% include "paginator.html" %}
    {% endblock %}


    <form class="form-horizontal" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="col-md-8">
            <h4>Напишите свой ответ:</h4>
            <textarea rows="3" cols="60" name="text" placeholder="Ваш ответ"></textarea>
            <input type="submit" value="Ответить" class="btn btn-success"/>
        </div>
    </form>

{% endblock %}