{% load static %}
{% block question %}

    <div class="row question">
        <div class="col-3">
            <div class="row">
                <img class="ava" src="{% static "img/Internet.png" %}" alt="">
                <a href="{% url 'profile' q.author %}">Автор: {{ q.author }}</a>
            </div>
            <button>Лайк</button>
            <button>Дизлайк</button>
        </div>
        <div class="col-9">
            <div class="row">
                <h3><a href="{% url 'ans' q.id %}">{{ q.title }}</a></h3>
            </div>
            <div class="row">
                <p>{{ q.text }}</p>
            </div>
        </div>
    </div>
{% endblock %}