{% extends "base.html" %}
{% load static %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <a href="{% url 'home' %}" class="col-4 btn btn-outline-danger">Новые</a>
            <a href="{% url 'home' %}" class="col-4 btn btn-outline-danger">Рейтинг</a>
            <a href="{% url 'home' %}" class="col-4 btn btn-outline-danger">Понравилось</a>
        </div>
    </main>

    {% block question %}
        {% include "card.html" %}
        {% include "card.html" %}
        {% include "card.html" %}
        {% include "card.html" %}
    {% endblock %}

{% endblock %}