{% extends "base.html" %}
{% load static %}

{% block content %}
    <main role="main" class="container">
        <div class="row mb-3">
            <a href="{% url 'new' %}" class="col-4 btn btn-outline-danger">Новые</a>
            <a href="{% url 'home' %}" class="col-4 btn btn-outline-danger">Рейтинг</a>
            <a href="" class="col-4 btn btn-outline-danger">По тегу: (Не выбран)</a>
        </div>
    </main>

    {% for q in questions %}
        {% include "card.html" %}
    {% endfor %}

    {% block pages %}
        {% include "paginator.html" %}
    {% endblock %}

{% endblock %}