{% load static %}
{% block navbar %}

    <div class="col-12 d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-5 bg-white border-bottom shadow-sm">
        <img src="/static/img/Logo.png" alt="" class="logo">
        <h1 class="my-0 mr-md-auto font-weight-normal">
            <a href="{% url 'home' %}">Forumrum</a>
        </h1>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-dark btn-lg" href="{% url 'ask' %}" role="button">Задать вопрос</a>
        </nav>

        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>

        <div class="col-1 vertical_line">
                <img class=" logo" src="/static/img/Logo.png" alt="">
        </div>
        <div class="col-1">
                <a href="{% url 'profile' %}">Игорь</a>
        </div>

    </div>
{% endblock %}

{% comment %}
<a class="col-md-2 btn btn-outline-primary my_btn btn-lg" href="{% url 'login' %}">Вход</a>
{% endcomment %}
