{% extends "base.html" %}

{% block content %}
    <h3><b>Введите ваш вопрос:</b></h3>

    <form class="form-horizontal" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="row mb-3">
                <div class="col-md-3">
                    <label>{{ field.label_tag }}</label>
                </div>
                <div class="col-md-7">
                    {{ field }}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-success"/>
        </div>

    </form>

{% endblock %}