{% extends "base.html" %}

{% block content %}
    <h3><b>Введите ваш вопрос:</b></h3>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Заголовок вопроса</label>
            <input type="text" class="form-control" placeholder="" value="" required>
        </div>
    </div>

    <textarea rows="10" cols="60" name="text" placeholder="Введите подробное описание проблемы"></textarea>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Тэги</label>
            <input type="text" class="form-control" placeholder="" value="" required>
        </div>
    </div>
    <input type="submit" value="Отправить">
{% endblock %}