{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1>{{ profile.username }}</h1>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th scope="row">Имя</th>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <th scope="row">Фамилия</th>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <th scope="row">Почта</th>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <th scope="row">Аватар</th>
            <td><img class="ava" src="/media/{{ profile.upload }}">
                {% if user.is_authenticated and user.id == profile.id %}
                    <input type="file" class="form-control-file" name="avatar">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}