{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1>{{ profile.username }}</h1>
    <div class="masthead-lead">
        <div class="avatar-block">
            <img class="avatar" src="/media/{{ profile.upload }}">
        </div>
        <div class="profile-info-block">
            <h4><i>First name: </i> {{ profile.first_name }}</h4>
            <h4><i>Last name: </i>{{ profile.last_name }}</h4>
            <h4><i>Email: </i>{{ profile.email }}</h4>
            <hr>
            <h4>
                <i>Questions: </i>{{ profile.question_set.all | length }}
                <i>Answers: </i>{{ profile.answer_set.all | length }}
            </h4>
        </div>
        <hr>

        <div class="activity">
            <table>
                <tr>
                    <th><h3>Questions</h3></th>
                    <th><h3>Answers</h3></th>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}