{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <h4>Введите логин и пароль</h4>
            <form class="form-horizontal" action="{{ request.path }}" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label>{{ field.label_tag }}</label>
                        </div>
                        <div class="col-md-7">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-success"/>
                </div>
            </form>
        </div>

        <div class="col-6">
            <h4>Нет аккаунта?</h4>
            <a class="align-bottom btn btn-success btn-lg" href="{% url 'reg' %}" role="button">Зарегистрироваться</a>
        </div>
    </div>



{% endblock %}