{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <h4>Введите логин и пароль</h4>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="row mt-4 mb-4">
                    <div class="col-4">
                        {{ form.username.label_tag }}
                    </div>
                    <div class="col-8">
                        {{ form.username }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        {{ form.password.label_tag }}
                    </div>
                    <div class="col-8">
                        {{ form.password }}
                    </div>
                </div>

                <input type="submit" value="Войти" class="col-md-12 btn btn-lg btn-primary btn-block"/>

                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>

        <div class="col-6">
            <h4>Нет аккаунта?</h4>
            <a class="align-bottom btn btn-success btn-lg" href="{% url 'reg' %}" role="button">Зарегистрироваться</a>
        </div>
    </div>



{% endblock %}