{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <div class="row">
                <h4>Введите свои email</h4>
            </div>
            <div class="row">
                <input type="email">
            </div>
            <div class="row">
                <a class="btn btn-success btn-lg" href="{% url 'reg' %}"role="button">Зарегистрироваться</a></div>
        </div>
    </div>

{% endblock %}